.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  position: relative;

  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;

  }
  &__items {
    display: flex;
    align-items: center;
    column-gap: 36px;
    margin: 0 40px;

    &__fig {
      margin: 0;
      cursor: pointer;
    }
    &__counter {
      color: white;
      background-color: orange;
      border-radius: 50%;
      outline: 4px solid orange;
    }
  }
}
.Navbar-modal {
  position: absolute;
  top: 125px;
  right: 0;
  width: 395px;
  background: #9d9d9d;
  z-index: 899;
  max-height: 465px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-bottom: 20px;

  &__text {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: white;
  }
  &__button {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    cursor: pointer;
  }
}
