
.Navbar-item {
  display: flex;
  column-gap: 20px;
  margin: 20px;
  align-items: center;
  &__img {
    width: 70px;
    height: 65px;
  }
  &__title {
    margin: 5px;
  }
  &__text {
    margin: 5px;
  }
}
