.Linc {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  border: 3mm solid transparent;
  padding-bottom: 10px;
  &__img {
    width: 365px;
    height: 350px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin: 0;
  }
  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    margin: 0;
  }


}
.Linc:hover {
  border: 3mm ridge rgba(225, 225, 225, .3);
}