.button {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 16px 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}