.modal {
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  backdrop-filter: blur(1px);
  &__button {
    padding-bottom: 20px;
  }
  &__content {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: orange;
    border-radius: 2px;

    &__title {
      display: flex;
      justify-content: space-between;
      background-color: darkorange;
      padding: 20px;

      &__text {
        color: white;
        width: 80%;
      }
      &__close {
        display: flex;
        align-items: center;
        color: white;
        margin-left: 120px;
        cursor: pointer;

      }
    }
    &__text {
      color: white;
      margin: 50px 0;
      font-weight: bold;
    }
  }
}